{% extends "base.html" %}

{% block body_block %}
<h1>Home Page</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, nostrum dicta? Vitae doloribus, omnis voluptatum eligendi, nulla adipisci facilis ullam pariatur perferendis, magnam laboriosam assumenda tenetur provident ut possimus recusandae. Reprehenderit sapiente autem obcaecati distinctio velit quia maxime deserunt itaque exercitationem, assumenda excepturi ad impedit eum neque accusamus iusto earum iste nesciunt id blanditiis nihil optio soluta. Iusto at quae voluptas eius assumenda distinctio quos dolor dolore possimus necessitatibus. Excepturi odio adipisci, numquam quam cumque earum quos molestias aperiam ipsum dolorum repellat asperiores deleniti rerum perspiciatis corporis. Consequuntur, ipsam magnam iure veniam harum ipsa ex magni in. Totam, debitis excepturi!</p>
{% endblock %}