{% extends "base.html" %}

{% block body_block %}

<h1 class="head-font">Home page</h1>
<h2>to register click the on register button on navbar</h2>
<br>
<p class="body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At vero provident nisi nemo tempora? Esse officia tempore saepe asperiores aliquam deserunt perferendis praesentium ad ex consequuntur cupiditate qui facilis et sequi ut maxime delectus quod doloremque cum debitis fuga distinctio, in dicta dolor. Ad, id enim at possimus aut rem quis eum dolore iusto ullam assumenda modi exercitationem explicabo, odit dignissimos quo reprehenderit fugiat corrupti cumque optio eaque rerum! Dolore ex temporibus non explicabo sapiente sit expedita necessitatibus error vel veniam labore eum, quisquam asperiores aut? Dicta facere totam vitae mollitia pariatur libero, ratione autem rem reprehenderit quasi tempora? Ad!</p>

{% endblock %}