{% extends "base.html" %}
{% block body_block %}
<h1 class="head-font">To register as user click Register</h1>
<br>
<p class="body-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis, accusamus earum rem error rerum laudantium fugiat dolorum ab incidunt id, qui expedita voluptate impedit quisquam iste placeat odio corrupti a nesciunt praesentium voluptates dolore modi. Debitis mollitia, ut nam saepe hic nulla dolore error repellendus ipsa distinctio reprehenderit consequatur vitae odio autem laboriosam pariatur nemo aperiam expedita eos numquam eligendi quis aliquam? Eius quis, perspiciatis temporibus omnis quod blanditiis nesciunt alias error ea, ab recusandae magni porro ipsam fuga mollitia eveniet illo iure culpa? Quis, deleniti error expedita officia commodi sequi debitis dolore optio amet adipisci eaque rem ab!</p>
{% endblock %}